params {
  container = 'lehtiolab/ipaw:0.5'
  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"
  awsqueue = false
  awsregion = 'eu-west-1'
  external_config_version = 'master'
  pisepdb = false
  isobaric = false
  activation = 'hcd'
  bamfiles = false
  mods = false
  knownheaders = false
  novheaders = false
  varheaders = false
  saavheader = false
  noclassfdr = false
  dbsnp = false
  cosmic = false
  mzmldef = false
  input = false
  normalpsms = false
  annovar_dir = false
  bigwigs = false
  splitchar = false
  quantlookup = false
  minlen = 8
  maxlen = 50
  maxmiscleav = 0
  timstof = false
  input_format = 'mzml'
  msfragger_jar = '/gpfs/gibbs/project/caron/il364/proteogenomics/software/MSFragger-4.4.1/MSFragger-4.4.1.jar'
  
  // Resource limits
  max_memory = 256.GB
  max_cpus = 16
  max_time = 168.h
}

env {
  MSFRAGGER_JAR = params.msfragger_jar
}

// CRITICAL: Enable conda properly
conda {
  enabled = true
  useMamba = false
  createTimeout = '1h'
}

includeConfig 'conf/base.config'

profiles {
  // LOCAL CONDA PROFILE - runs everything in one job
  conda_local {
    docker.enabled = false
    singularity.enabled = false
    conda.enabled = true  // IMPORTANT
    
    process {
      // Use conda environment - absolute path
      conda = "/home/il364/.conda/envs/proteogenomics"
      
      // Local executor (runs within the SLURM job)
      executor = 'local'
      
      // Default resources for each process
      cpus = 2
      memory = 16.GB
      
      // Allow parallel execution up to available resources
      maxForks = 8  // Run up to 8 processes in parallel
      
      // Error handling
      errorStrategy = 'retry'
      maxRetries = 2
      
      // Add conda initialization to each process
      beforeScript = 'source $(conda info --base)/etc/profile.d/conda.sh'
      
      // Extra resources with intense processes
      withName: 'percolator_msgf|percolator_fragpipe' {
        conda = "/home/il364/.conda/envs/proteogenomics"
        cpus = 4 
        memory = 32.GB
        time = 6.h
        }

      withName: msgfPlus {
        conda = "/home/il364/.conda/envs/proteogenomics"
        cpus = 8
        memory = 160.GB
        time = 24.h
        }

      withName: 'convertPepXMLToMzid|convertMzidToTSV' {
        conda = "/home/il364/.conda/envs/proteogenomics"
        cpus = 2
        memory = 16.GB
        time = 1.h
        }

      withName: fragPipeSearch {
        conda = "/home/il364/.conda/envs/fragpipe"
        cpus = 8
        memory = 160.GB
        time = 24.h
        }

    }
  }
  
  // ORIGINAL SLURM PROFILE - submits individual jobs
  conda_slurm {
    docker.enabled = false
    singularity.enabled = false
    conda.enabled = true
    
    process {
      conda = "/home/il364/.conda/envs/proteogenomics"
      executor = 'slurm'
      queue = 'day'
      
      cpus = 4
      memory = 64.GB
      time = 24.h
      
      errorStrategy = 'retry'
      maxRetries = 2
      
      beforeScript = 'source $(conda info --base)/etc/profile.d/conda.sh'
    }
    
    executor {
      queueSize = 50
      submitRateLimit = '10 sec'
    }
  }
  
  conda { 
    conda.enabled = true
    process.conda = "$baseDir/environment.yml" 
  }
  
  docker {
    docker.enabled = true
    docker.fixOwnership = true
    docker.runOptions = '-u $(id -u):$(id -g)'
    singularity.enabled = false
    conda.enabled = false
  }
  
  singularity {
    singularity.enabled = true
  }
  
  lehtio { 
    includeConfig "https://raw.githubusercontent.com/lehtiolab/static-resources/${params.external_config_version}/nf-configs/lehtio.config"
    includeConfig "https://raw.githubusercontent.com/lehtiolab/static-resources/${params.external_config_version}/nf-configs/${params.pisepdb ? 'ipaw_6ft': 'vardb'}.config"
  }
  
  uppmax { 
    includeConfig 'conf/uppmax.config'
  }
  
  testing {
    includeConfig 'conf/base.config'
  }
}

// Function to ensure that resource requirements don't go beyond a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
